@import "./main.scss";

.close {
  position: absolute;
  visibility: hidden;
  transform: translate3d(0, 100vh, 0) scale(1, 0.1);
}

.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: $bgc;
  text-align: center;
  font-family: $mainfont-light;
  visibility: visible;
  transform: translate3d(0, 0, 0) scale(1, 1);
  transition: transform 500ms ease-in-out;

  .modal {
    width: 350px;
    height: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: $white;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .modal::-webkit-scrollbar {
    display: none;
  }

  @include responsive(T) {
    .modal {
      width: 750px;
      height: 500px;
    }
  }
}
