@import "./main.scss";

.close {
  position: absolute;
  transform: translate3d(0, 100vh, 0) scale(1, 0.1);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: $white;
  text-align: center;
  font-family: $mainfont-bold;
  transition: transform 500ms ease-in-out;

  .modal::-webkit-scrollbar {
    display: none;
  }

  &.isActive {
    transform: translate3d(0, 0, 0) scale(1, 1);
  }

  .modal {
    width: 350px;
    height: 500px;
    margin: 100px auto;
    padding: 28px;
    background-color: $bgc;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    color: $white;

    .title {
      margin-bottom: 25px;
      font-family: $mainfont-bold;
      font-size: 22px;

      .atomNum {
        position: relative;
        top: 2px;
        font-size: 16px;
      }
    }

    .paragraph {
      font-size: 12px;
      margin-bottom: 20px;
    }

    .atomImg {
      display: block;
      width: 300px;
      margin: auto;
    }
  }

  @include responsive(T) {
    .modal {
      width: 600px;
      height: 500px;
      padding: 30px;

      .title {
        margin-bottom: 45px;
        font-size: 25px;
      }
    }
  }
}
