@import "./main.scss";

.header {
  font-family: $mainfont-light;
  text-align: left;
  font-size: 8px;
  margin: 5px 0 50px 0;
  padding: 0 10px;
  width: 100%;
  color: gray;

  .link {
    font-family: $mainfont-bold;
    font-size: 12px;
  }

  @include flexbox(between, center);
  @include responsive(T) {
    font-size: 12px;

    .link {
      font-size: 16px;
    }
  }
}
