@import "./main.scss";

.header {
  font-family: $mainfont-light;
  text-align: left;
  font-size: 10px;
  margin: 5px 0 50px 0;
  padding: 0 10px;
  width: 100%;
  color: $white;

  @include flexbox(between, center);
}
