@import "./main.scss";

.main {
  overflow: hidden;
  h1 {
    width: 100px;
    font-family: "Times New Roman", Times, serif;
    display: block;
    position: relative;
    font-size: 60px;
    background: linear-gradient(#c7ffb3 0%, #5fd5df 100%);
    background-clip: text;
    color: transparent;
  }

  .t1 {
    left: 40%;
    top: -10px;
  }

  .t2 {
    left: 50%;
    top: -40px;
  }

  .t3 {
    left: 45%;
    top: -40px;
  }

  .t4 {
    left: 40%;
    top: -55px;
  }

  .t5 {
    left: 52%;
    top: -90px;
  }

  .mainImg {
    width: 90%;
    max-width: 900px;
    min-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 7%;
    left: -5%;
    right: 5%;
  }

  .paragraph {
    font-family: $mainfont-light;
    text-align: center;
  }

  @include responsive(T) {
    h1 {
      font-size: 100px;
    }

    .mainImg {
      top: 4%;
      left: 5%;
      right: 5%;
    }
  }

  @include responsive(D) {
    .mainImg {
      top: 0;
    }
  }
}
