@import "./main.scss";

.main {
  overflow: visible;

  h1 {
    width: 100px;
    font-family: "Times New Roman", Times, serif;
    display: block;
    position: relative;
    top: 30px;
    font-size: 70px;
    background: linear-gradient(#c7ffb3 0%, #5fd5df 100%);
    background-clip: text;
    color: transparent;
  }

  .t1 {
    //d
    left: 40%;
  }

  .t2 {
    //B
    left: 45%;
  }

  .t3 {
    //2
    font-size: 40px;
  }

  .t4 {
    //H
    left: 33%;
  }

  .t5 {
    //z
    left: 45%;
  }

  .mainImg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    background-image: url("../assets/img0.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1000px 550px;
    pointer-events: none;
  }

  .paragraph {
    font-family: $mainfont-light;
    text-align: center;
  }

  @include responsive(T) {
    h1 {
      font-size: 100px;
      top: 0;
    }

    .t4 {
      left: 38%;
    }

    .t5 {
      top: -30px;
    }

    .mainImg {
      height: 500px;
      background-size: 1300px 730px;
      top: 30px;
    }
  }

  @include responsive(D) {
    .mainImg {
      background-size: 1450px 830px;
    }
  }
}
