@import "./main.scss";

.main {
  overflow: visible;
  margin-bottom: 100px;

  .mainImg {
    display: block;
    top: 0;
    width: 350px;
    height: 350px;
    margin: auto;
    pointer-events: none;
  }

  .place {
    font-family: $mainfont-bold;
    color: $white;
    text-align: center;
    font-size: 12px;
  }

  .formula {
    font-family: $mainfont-bold;
    color: $white;
    text-align: center;
    font-size: 12px;

    .atomNum {
      position: relative;
      top: 2px;
      font-size: 8px;
    }
  }

  @include responsive(T) {
    margin-bottom: 70px;
    .mainImg {
      width: 400px;
      height: 400px;
    }
  }
}
