@import "./main.scss";

.menu {
  @include flexbox;
  width: 65%;
  max-width: 350px;
  height: 35px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 30px;

  .albumLink,
  .aboutBtn {
    font-family: $mainfont-bold;
    text-align: center;
    color: $bgc;
    font-size: 12px;
    margin: 0 20px;
    transition: font-size 400ms ease-in-out;
  }

  .aboutBtn:hover,
  .albumLink:hover {
    font-size: 14px;
    color: #64a965;
  }

  .closeBtn {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    right: 20px;
    z-index: 2;
    font-size: 30px;
    color: white;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @include responsive(T) {
    .albumLink,
    .aboutBtn {
      font-size: 13px;
    }

    .aboutBtn:hover,
    .albumLink:hover {
      font-size: 15px;
    }

    .closeBtn {
      top: 60px;
      right: 60px;
    }
  }
}
